header{
  background-color: #2C3E50;
  height: 100px;
}

.bi-list{
  color: #888888;
}

.jumbotron{
  min-height: 200px;
}

.bg-jumbotron, .about{
  background-color: #1ABC9C;
}

.bg-jumbotron .img-jumbo{
  height: 150px;
  width: 100%;
  background-color: #2C3E50;
}

.orizzontal-rule{
  height: 3px;
  background-color: #fff;
}

.orizzontal-rule-black{
  height: 3px;
  background-color: #2C3E50;
}

.house{
  background-color: #BA4B63;
  height: 200px;
}

.cake{
  background-color: #1EA4B6;
  height: 200px;
}

.circus{
  background-color: #000;
  height: 200px;
}

.console{
  background-color: #1C83C1;
  height: 200px;
}

.safe{
  background-color: #0E38B5;
  height: 200px;
}

.submarine{
  background-color: #CCB2A3;
  height: 200px;
}

.button-green{
  background-color: #1ABC9C;
  width: 100px;
}